@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.menu-mobile{
	display: none;
}
.footer-mobile{
	display: none;
}
.top{
	display: none;
}
header{
	height: 44vw;
}
.menu{
	background-color: white;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 10%;
	margin-top: 0%;
	
}
.image-blue{
	position: absolute;
	margin-top: 6vw;
	background-image: url(./img/background-header.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 80%;
}
h1{
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	font-size: 1.5vw;
	padding: 4vh 0 0 10vw;
	font-weight: 900%;
	margin-top: 0%;
}
h2{
	font-size: 3.5vw;
	color: white;
	font-weight: 100%;
	padding: 15vw 0 0 10vw;
}
header p{
	color: white;
	font-size: 2vw;
	font-weight: 200%;
	margin: 4vw 0 0 10vw;
}
ul{
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	width: 34vw;
	margin-left: 60vw;
	margin-top: 2vw;
}
li:hover{
	cursor: pointer;
	font-weight: 900;
}
main{
	position: absolute;
	width: 80vw;
	height: 60vw;
	margin: 10vw 0 0 10vw;
}
main img{
	width: 19vw;
}
main .coluna1{
	display: flex;
	justify-content: space-around;
}
main .coluna2{
	padding-top: 1vw;
	display: flex;
	justify-content: space-around;
}
main .coluna3{
	padding-top: 1vw;
	display: flex;
	justify-content: space-around;
}
footer{
	background-color: #d3d3d3;
	width: 100%;
	height: 7vw;
	position: absolute;
	top: 113vw;
}
footer section{
	width: 30vw;
	position: absolute;
	margin: 3vw 0 0 8vw;
}
footer section img{
	margin-left: 1.8vw;
}
h3{
	font-weight: 700;
	position: absolute;
	margin: 0.6vw 0 0 30vw;
}
footer section p{
	font-size: 0.6vw;
	width: 50vw;
	position: absolute;
	margin: 0.5vw 0 0 37vw;
}
footer section .p2{
	font-size: 0.6vw;
	width: 50vw;
	position: absolute;
	margin: 1.3vw 0 0 37vw;
}

@media(max-width: 600px) {
	header{
		margin: 5vw 1 1 1vw;
	}
	ul{
		display: none;
	}
	h1{
		width: 100vw;
		height: 5.5vh;
		position: fixed;
		background-color: white;
		padding-left: 50vw;
		padding-top: 2.5vw;
		font-size: 5vw;
	}
.menu-mobile{
	position: fixed;
	display: flex;
	height: 5.5vh;
	width: 40vw;
	background-color: black;
}
.menu-mobile img{
	width: 5vw;
	height: 2.5vh;
	margin:2.5vw 0 0 10vw;
}
.image-blue{
	background-image: url(./img/back-header-mobile.png);
	top: 9vh;
	width: 100%;
	height: 150vw;
	margin: 3vw 2 2 15vw;
}
h2{
	font-size: 10vw;
	margin-bottom: 2vw;
}
.image-blue p{
	font-size: 3.5vw;
	margin-top: 9vw;
}
main{
	margin-top: 160vw;
	width: 80vw;
}
main section img{
	width: 60vw;
}
.line1{
	flex-wrap: wrap;
}
.line1 img{
	margin-top: 3vw;
}
.line2{
	flex-wrap: wrap;
}
.line2 img{
	margin-top: 3vw;
}
.line3{
	flex-wrap: wrap;
}
.line3 img{
	margin-top: 3vw;
}
}